.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.model-fade-enter-active,
.model-fade-leave-active {
  transition: opacity 0.3s ease;
}

.model-fade-enter-from,
.model-fade-leave-to {
  opacity: 0;
}
